
html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: "RobotoDraft", sans-serif;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	background-color: #fafafa;
	font-weight: 300;
}

#drawerPanel:not([narrow]) core-scroll-header-panel [content] {
	padding: 30px 0;
}

#drawerPanel[narrow][selected="drawer"] .fade-on-drawer-open {
	opacity: 0;
}

.fade-on-drawer-open {
	transition: opacity 300ms ease-in-out;
}

#drawerPanel core-header-panel {
	background: #fafafa;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
	color: #757575;
}

.separator {
	padding: 16px;
	font-size: 14px;
	border-top: 1px solid #e0e0e0;
}

#drawerPanel core-header-panel core-menu {
	margin: 16px 0 0 0;
}

#drawerPanel core-scroll-header-panel::shadow #condensedHeaderBg {
	background-color: #e51c23;
	opacity: 1 !important;
}

paper-item::shadow core-icon {
	margin-right: 24px !important;
}

paper-item.core-selected {
	background-color: #eee;
}

paper-item.core-selected::shadow core-icon {
	color: #757575;
}

#mainheader paper-dropdown {
	color: initial;
}

core-scroll-header-panel > [content] {
	height: 100%;
}

#toast > * {
	color: #ffa726;
}

core-drawer-panel {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

core-header-panel {
	background: white;
	height: 100%;
}

core-toolbar {
	background-color: #03A9F4; 
	color: #fff;
}

#drawer {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	box-sizing: border-box;
}

#drawerPanel core-header-panel {
	background: none repeat scroll 0% 0% #FAFAFA;
	box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
	color: #757575;
}

#navheader {
	background-image: url('./img/beach.jpg');
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-color: #999;
	background-size: cover;
	font-size: inherit;
	color: white;
}

#navheader::shadow .toolbar-tools {
	z-index: 1;
}

#navheader::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	opacity: 0;
	will-change: opacity;
	transition: opacity 600ms ease-in-out;
}

#navheader .bottom :last-child {
	font-size: small;
	opacity: 0.8;
}

#mheader {
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-color: #d32f2f;
	background-size: cover;
	font-size: inherit;
	color: #FFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

#mheader .title {
	font-size: 40px;
	transform-origin: 0px 50% 0px;
	margin-left: 70px;
}

#navheader img.profile {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	margin-bottom: 20px;
}

#navheader .bottom :last-child {
	font-size: small;
	opacity: 0.8;
}

#drawerPanel core-header-panel .separator {
	padding: 16px;
	font: bold 12px Arial, Tahoma, Helvetica, sans-serif;
	border-top: 1px solid #E0E0E0;
}

#drawerPanel core-header-panel {
	color: #757575;
}

paper-item core-icon {
	margin-right: 24px !important;
}

core-icon {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	fill: currentcolor;
	position: relative;
	height: 24px;
	width: 24px;
}

.video-list-spacer { line-height: 1px; }

.video-list{ background: #f2f5fd; background: #f5f5f5; overflow-x: hidden; position:absolute;}
.video{ cursor: pointer; min-height: 158px; padding: 10px; padding-left: 316px; position: relative;}
.video:nth-child(2n-1){ background: white;}
.video-image{ float: left; left: 10px; position: absolute; top: 10px; overflow: hidden;}
.video-title{ padding-top: 5px;}
.video-author{ color: #df1f1f; font-size: 14px; padding: 5px 0;}
.video-description{ color: #727785; font-size: 12px; line-height: 1.5;}
.video:hover{ background: #22242a; color: white;}

#Tab5 {
	margin: 0px 0px 0px 24px;
}

.capsule {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
}

